html
{
	font-size: 1.5em;
}


h1
{
  	text-align: center;
}

ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: grey;
	overflow: hidden;
}


li
{
	float: left;
	border-right: 1px solid black;
}


li a, .dropbtn
{
	display: block;
	padding: 8px;
	color: white;
	text-align: center;
	text-decoration: none;	
}

li a:hover, .dropdown:hover .dropbtn
{
	background-color: #111;
}

li:last-child
{
	border-right: none;
}

li.dropdown
{
	display: inline-block;
}

.dropdown-content 
{
	display: none;
	position: absolute;
	background-color: grey;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a
{
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover
{
	background-color: #111;
}

.dropdown:hover .dropdown-content
{
	display: block;
}

.info
{
	width: 75vw;
	margin: auto;
}

.info ol
{
	display: inline-grid;
	text-align: left;
}

.info li
{
	border-right: none;
}

.active
{
	background-color: #111;
}
nav
{
}	

header
{
}

footer
{
}

section
{
}