h1 {
  color: red;
  text-align: center;
}

ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: grey;
	overflow: hidden;
}


li
{
	float: left;
	border-right: 1px solid black;
}


li a
{
	display: block;
	padding: 8px;
	color: white;
	text-align: center;
	text-decoration: none;	
}

li a:hover
{
	background-color: #111;
}

li:last-child
{
	border-right: none;
}

nav
{
}	

header
{
}



footer
{
	display: flex;
	gap: 5vw;
	justify-content: center;
	border: solid black 2px;
}

