h1 {
  color: red;
  text-align: center;
}

header {
	display: flex;
	gap: 10vw;
	width: 50vw;
	justify-content: center;
	align-items: center;
	border: solid black 2px;
}

footer
{
	display: grid;
	gap: 10vw;
	border: solid black 2px;
}

